
button{
    font-size: 32px;
    padding: 15px 30px;
    border: 0;
    border-radius: 15px;
    color: whitesmoke;
    font-family: 400;
    background: linear-gradient(to right, rgb(128, 248, 58), rgb(8, 75, 2));
    cursor: pointer;
    
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

.button{
    font-size: 32px;
    padding: 15px 30px;
    border: 0;
    border-radius: 15px;
    color: whitesmoke;
    font-family: 400;
    background: linear-gradient(to right, rgb(128, 248, 58), rgb(8, 75, 2));
    cursor: pointer;
    
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

button:hover{
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.582);

}

@keyframes botao{

    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }

}